<!-- Generator: Widdershins v4.0.1 -->

# API - Canais de Atendimento

> Scroll down for code samples, example requests and responses. Select a language for code samples from the tabs above or the mobile navigation menu.

As APIs descritas neste documento são referentes as APIs da fase Open Data do Open Insurance Brasil.

Base URLs:

* https://api.organizacao.com.br/open-insurance/channels/v1

Web: <a href="https://openinsurance.susep.gov.br" target="_blank">Support</a>

<a href="files/swagger/data_channels.yaml" download="data_channels.yaml">Especificação em OAS</a> <br>
<a href="files/docs/channels.docx" download="channels.docx">Detalhamento Técnico</a> <br>
<a href="./1.2.6.html">Release Notes</a> <br>

<%= partial "./includes/partials/phase_one/data_channels/branches" %>
<%= partial "./includes/partials/phase_one/data_channels/eletronic_channels" %>
<%= partial "./includes/partials/phase_one/data_channels/intermediary" %>
<%= partial "./includes/partials/phase_one/data_channels/phone_channels" %>
<%= partial "./includes/partials/phase_one/data_channels/referenced-network" %>
<%= partial "./includes/partials/phase_one/data_channels/responses" %>
