<h1 id="apis-fase-3">Fase 3 - APIs do Open Insurance Brasil</h1>

<h2 id="diagrama-de-sequencia">Diagramas de sequência:</h2>
<a href="files/diagramas-fase3/aviso_de_sinistro_diagrama.pdf" target="_blank">Aviso de Sinistro - Diagrama de Sequência v2.1</a><br>
<a href="files/diagramas-fase3/cotacao_e_contratacao.pdf" target="_blank">Cotação e Contratação - Diagrama de Sequência v3.1</a><br>
<a href="files/diagramas-fase3/endosso_diagrama.pdf" target="_blank">Endosso - Diagrama de Sequência v2.1</a>

<%= partial "./includes/partials/phase_three/claim_notification/claim_notification" %>
<%= partial "./includes/partials/phase_three/endorsement/endorsement" %>
<%= partial "./includes/partials/phase_three/quote_patrimonial/quote_patrimonial" %>
<%= partial "./includes/partials/phase_three/notifications/notifications" %>
<%= partial "./includes/partials/phase_three/quote_responsibility/quote_responsibility" %>

<%= partial "./includes/partials/phase_three/responses" %>