<!-- Generator: Widdershins v4.0.1 -->

# API - Produtos e serviços

> Scroll down for code samples, example requests and responses. Select a language for code samples from the tabs above or the mobile navigation menu.

As APIs descritas neste documento são referentes as APIs da fase Open Data do Open Insurance Brasil.

Base URLs:

* https://api.organizacao.com.br/open-insurance/products-services/v1

Web: <a href="https://openinsurance.susep.gov.br" target="_blank">Support</a> 

<%= partial "./includes/partials/phase_one/products_services/assistance-general-assets" %>
<%= partial "./includes/partials/phase_one/products_services/auto-extended-warranty" %>
<%= partial "./includes/partials/phase_one/products_services/auto-insurance" %>
<%= partial "./includes/partials/phase_one/products_services/business" %>
<%= partial "./includes/partials/phase_one/products_services/capitalization-title" %>
<%= partial "./includes/partials/phase_one/products_services/condominium" %>
<%= partial "./includes/partials/phase_one/products_services/cyber-risk" %>
<%= partial "./includes/partials/phase_one/products_services/directors-officers-liability" %>
<%= partial "./includes/partials/phase_one/products_services/domestic-credit" %>
<%= partial "./includes/partials/phase_one/products_services/engineering" %>
<%= partial "./includes/partials/phase_one/products_services/environmental-liability" %>
<%= partial "./includes/partials/phase_one/products_services/equipment-breakdown" %>
<%= partial "./includes/partials/phase_one/products_services/errors-omissions-liability" %>
<%= partial "./includes/partials/phase_one/products_services/export-credit" %>
<%= partial "./includes/partials/phase_one/products_services/extended-warranty" %>
<%= partial "./includes/partials/phase_one/products_services/financial-risk" %>
<%= partial "./includes/partials/phase_one/products_services/general-liability" %>
<%= partial "./includes/partials/phase_one/products_services/global-banking" %>
<%= partial "./includes/partials/phase_one/products_services/home-insurance" %>
<%= partial "./includes/partials/phase_one/products_services/housing" %>
<%= partial "./includes/partials/phase_one/products_services/life-pension" %>
<%= partial "./includes/partials/phase_one/products_services/lost-profit" %>
<%= partial "./includes/partials/phase_one/products_services/named-operational-risks" %>
<%= partial "./includes/partials/phase_one/products_services/pension-plan" %>
<%= partial "./includes/partials/phase_one/products_services/person" %>
<%= partial "./includes/partials/phase_one/products_services/private-guarantee" %>
<%= partial "./includes/partials/phase_one/products_services/public-guarantee" %>
<%= partial "./includes/partials/phase_one/products_services/rent-guarantee" %>
<%= partial "./includes/partials/phase_one/products_services/rural" %>
<%= partial "./includes/partials/phase_one/products_services/stop-loss" %>
<%= partial "./includes/partials/phase_one/products_services/transport" %>
<%= partial "./includes/partials/phase_one/products_services/responses" %>
