<h1 id="schemas_phase_two">Schemas</h1>

<%= partial "./includes/partials/phase_two/consents/responses/consents" %>
<%= partial "./includes/partials/phase_two/resources/responses/resources" %>
<%= partial "./includes/partials/phase_two/customers/responses/customers" %>
<%= partial "./includes/partials/phase_two/acceptance_and_branches_abroad/responses/acceptance_and_branches_abroad" %>
<%= partial "./includes/partials/phase_two/auto/responses/auto" %>
<%= partial "./includes/partials/phase_two/aviation/responses/aviation" %>
<%= partial "./includes/partials/phase_two/financial_risk/responses/financial_risk" %>
<%= partial "./includes/partials/phase_two/nautical/responses/nautical" %>
<%= partial "./includes/partials/phase_two/nuclear/responses/nuclear" %>
<%= partial "./includes/partials/phase_two/patrimonial/responses/patrimonial" %>
<%= partial "./includes/partials/phase_two/petroleum/responses/petroleum" %>
<%= partial "./includes/partials/phase_two/responsibility/responses/responsibility" %>
<%= partial "./includes/partials/phase_two/rural/responses/rural" %>
