<h1 id="schemas_phase_two">Schemas</h1>

<%= partial "./includes/partials/phase_two/consents/responses/consents" %>
<%= partial "./includes/partials/phase_two/resources/responses/resources" %>
<%= partial "./includes/partials/phase_two/customers/responses/customers" %>
<%= partial "./includes/partials/phase_two/auto/responses/auto" %>
<%= partial "./includes/partials/phase_two/nautical/responses/nautical" %>
<%= partial "./includes/partials/phase_two/patrimonial/responses/patrimonial" %>
<%= partial "./includes/partials/phase_two/insurance_aviation/responses/insurance_aviation" %>
<%= partial "./includes/partials/phase_two/insurance_rural/responses/insurance_rural" %>
<%= partial "./includes/partials/phase_two/insurance_petroleum/responses/insurance_petroleum" %>
<%= partial "./includes/partials/phase_two/insurance_responsibility/responses/insurance_responsibility" %>
<%= partial "./includes/partials/phase_two/acceptance_and_branches_abroad/responses/acceptance_and_branches_abroad" %>
<%= partial "./includes/partials/phase_two/nuclear/responses/nuclear" %>
