<h1 id="schema_phase_one_products">Schemas</h1>
<%= partial "./includes/alerta/alerta" %>
<%= partial "./includes/partials/phase_one/products_services/schemas/responses/assistance-general-assets" %>
<%= partial "./includes/partials/phase_one/products_services/schemas/responses/auto-extended-warranty" %>
<%= partial "./includes/partials/phase_one/products_services/schemas/responses/auto-insurance" %>
<%= partial "./includes/partials/phase_one/products_services/schemas/responses/business" %>
<%= partial "./includes/partials/phase_one/products_services/schemas/responses/capitalization-title" %>
<%= partial "./includes/partials/phase_one/products_services/schemas/responses/condominium" %>
<%= partial "./includes/partials/phase_one/products_services/schemas/responses/cyber-risk" %>
<%= partial "./includes/partials/phase_one/products_services/schemas/responses/directors-officers-liability" %>
<%= partial "./includes/partials/phase_one/products_services/schemas/responses/domestic-credit" %>
<%= partial "./includes/partials/phase_one/products_services/schemas/responses/engineering" %>
<%= partial "./includes/partials/phase_one/products_services/schemas/responses/environmental-liability" %>
<%= partial "./includes/partials/phase_one/products_services/schemas/responses/equipment-breakdown" %>
<%= partial "./includes/partials/phase_one/products_services/schemas/responses/errors-omissions-liability" %>
<%= partial "./includes/partials/phase_one/products_services/schemas/responses/export-credit" %>
<%= partial "./includes/partials/phase_one/products_services/schemas/responses/extended-warranty" %>
<%= partial "./includes/partials/phase_one/products_services/schemas/responses/financial-risk" %>
<%= partial "./includes/partials/phase_one/products_services/schemas/responses/general-liability" %>
<%= partial "./includes/partials/phase_one/products_services/schemas/responses/global-banking" %>
<%= partial "./includes/partials/phase_one/products_services/schemas/responses/home-insurance" %>
<%= partial "./includes/partials/phase_one/products_services/schemas/responses/life-pension" %>
<%= partial "./includes/partials/phase_one/products_services/schemas/responses/lost-profit" %>
<%= partial "./includes/partials/phase_one/products_services/schemas/responses/named-operational-risks" %>
<%= partial "./includes/partials/phase_one/products_services/schemas/responses/pension-plan" %>
<%= partial "./includes/partials/phase_one/products_services/schemas/responses/person" %>
<%= partial "./includes/partials/phase_one/products_services/schemas/responses/private-guarantee" %>
<%= partial "./includes/partials/phase_one/products_services/schemas/responses/public-guarantee" %>
<%= partial "./includes/partials/phase_one/products_services/schemas/responses/rent-guarantee" %>
<%= partial "./includes/partials/phase_one/products_services/schemas/responses/stop-loss" %>