<h1 id="schema_phase_one_products">Schemas</h1>

<%= partial "./includes/partials/phase_one/products_services/responses/assistance-general-assets" %>
<%= partial "./includes/partials/phase_one/products_services/responses/auto-extended-warranty" %>
<%= partial "./includes/partials/phase_one/products_services/responses/auto-insurance" %>
<%= partial "./includes/partials/phase_one/products_services/responses/business" %>
<%= partial "./includes/partials/phase_one/products_services/responses/capitalization-title" %>
<%= partial "./includes/partials/phase_one/products_services/responses/condominium" %>
<%= partial "./includes/partials/phase_one/products_services/responses/cyber-risk" %>
<%= partial "./includes/partials/phase_one/products_services/responses/directors-officers-liability" %>
<%= partial "./includes/partials/phase_one/products_services/responses/domestic-credit" %>
<%= partial "./includes/partials/phase_one/products_services/responses/engineering" %>
<%= partial "./includes/partials/phase_one/products_services/responses/environmental-liability" %>
<%= partial "./includes/partials/phase_one/products_services/responses/equipment-breakdown" %>
<%= partial "./includes/partials/phase_one/products_services/responses/errors-omissions-liability" %>
<%= partial "./includes/partials/phase_one/products_services/responses/export-credit" %>
<%= partial "./includes/partials/phase_one/products_services/responses/extended-warranty" %>
<%= partial "./includes/partials/phase_one/products_services/responses/financial-risk" %>
<%= partial "./includes/partials/phase_one/products_services/responses/general-liability" %>
<%= partial "./includes/partials/phase_one/products_services/responses/global-banking" %>
<%= partial "./includes/partials/phase_one/products_services/responses/home-insurance" %>
<%= partial "./includes/partials/phase_one/products_services/responses/life-pension" %>
<%= partial "./includes/partials/phase_one/products_services/responses/lost-profit" %>
<%= partial "./includes/partials/phase_one/products_services/responses/named-operational-risks" %>
<%= partial "./includes/partials/phase_one/products_services/responses/pension-plan" %>
<%= partial "./includes/partials/phase_one/products_services/responses/person" %>
<%= partial "./includes/partials/phase_one/products_services/responses/private-guarantee" %>
<%= partial "./includes/partials/phase_one/products_services/responses/public-guarantee" %>
<%= partial "./includes/partials/phase_one/products_services/responses/rent-guarantee" %>
<%= partial "./includes/partials/phase_one/products_services/responses/stop-loss" %>