<h1 id="schema_phase_one_products">Schemas</h1>

<%= partial "./includes/partials/phase_one/products_services/schemas/assistance-general-assets" %>
<%= partial "./includes/partials/phase_one/products_services/schemas/auto-extended-warranty" %>
<%= partial "./includes/partials/phase_one/products_services/schemas/auto-insurance" %>
<%= partial "./includes/partials/phase_one/products_services/schemas/business" %>
<%= partial "./includes/partials/phase_one/products_services/schemas/capitalization-title" %>
<%= partial "./includes/partials/phase_one/products_services/schemas/condominium" %>
<%= partial "./includes/partials/phase_one/products_services/schemas/cyber-risk" %>
<%= partial "./includes/partials/phase_one/products_services/schemas/directors-officers-liability" %>
<%= partial "./includes/partials/phase_one/products_services/schemas/domestic-credit" %>
<%= partial "./includes/partials/phase_one/products_services/schemas/engineering" %>
<%= partial "./includes/partials/phase_one/products_services/schemas/environmental-liability" %>
<%= partial "./includes/partials/phase_one/products_services/schemas/equipment-breakdown" %>
<%= partial "./includes/partials/phase_one/products_services/schemas/errors-omissions-liability" %>
<%= partial "./includes/partials/phase_one/products_services/schemas/export-credit" %>
<%= partial "./includes/partials/phase_one/products_services/schemas/extended-warranty" %>
<%= partial "./includes/partials/phase_one/products_services/schemas/financial-risk" %>
<%= partial "./includes/partials/phase_one/products_services/schemas/general-liability" %>
<%= partial "./includes/partials/phase_one/products_services/schemas/global-banking" %>
<%= partial "./includes/partials/phase_one/products_services/schemas/home-insurance" %>
<%= partial "./includes/partials/phase_one/products_services/schemas/life-pension" %>
<%= partial "./includes/partials/phase_one/products_services/schemas/lost-profit" %>
<%= partial "./includes/partials/phase_one/products_services/schemas/named-operational-risks" %>
<%= partial "./includes/partials/phase_one/products_services/schemas/pension-plan" %>
<%= partial "./includes/partials/phase_one/products_services/schemas/person" %>
<%= partial "./includes/partials/phase_one/products_services/schemas/private-guarantee" %>
<%= partial "./includes/partials/phase_one/products_services/schemas/public-guarantee" %>
<%= partial "./includes/partials/phase_one/products_services/schemas/rent-guarantee" %>
<%= partial "./includes/partials/phase_one/products_services/schemas/stop-loss" %>